!!! 5
html
  head
    title Instagram - Real-time updates demo
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/static/scripts/jquery-1.5.min.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")
    script( type="text/javascript")
      - $(document).ready(Media.positionAll);
  body
    #wrap
      h1
        img(src="/static/images/logo.png")
      div#wrapper
        for image in images
          .container
            h3.user #{image.user.username}
            .cube
              img(src=image.images.low_resolution.url)
              .info
                .cols
