!!! 5
html
  head
    title Instagram - Real-time updates demo
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/static/scripts/jquery-1.5.min.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")
    script( type="text/javascript")
      - $(document).ready(Media.positionAll);
  body
    #wrap
      h1
        img(src="/static/images/logo.png")
      div#wrapper
        for image in images
          h1 Image
          .container
            h3.user #{image.user.username}
            .cube
              img(src=image.images.low_resolution.url)
              .info
                h3.location #{image.location.latitude}
                h3.channel #{image.meta.location}
                .cols
        .col-1
          h2 What is this page?
          p
            | The images above are being sent to you in real-time from Instagram
            | users who geo-tag their posts. As the user presses the "done" button,
            | Instagram's servers notify this independent server of a new photo
            | through a simple web hook.
          p
            | Using Instagram's new real-time updates API, any developer can subscribe
            | to new photos from a variety of sources.
            | In this demo, we've subscribed to a handful of city-centers with a radius
            | of 5km. This means that Instagram will notify this server every time an
            | Instagram user tags their photo with a location within 5km of the city
            | center.
        .col-2
          h2 What are real-time updates?
          p
            | Real-time updates allow Instagram to notify developers when users post new
            | photos. Of course, having a firehose of data would be a bit overwhelming
            | for most, so we've made it extremely easy for developers to subscribe to
            | new photos posted that meet certain criteria.
          p
            | Developers can subscribe to new photos taken by users, on tags, from a place, or a specific geography.
            | By subscribing, developers can receive notifications the instant new photos are posted
            | instead of relying upon antiquated polling methods.
