!!! 5
html
  head
    title Instagram - Real-time updates demo
    link(rel="stylesheet", href="/static/styles/reset.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/master.css", type="text/css")
    link(rel="stylesheet", href="/static/styles/isotope.css", type="text/css")
    script(src="/socket.io/socket.io.js", type="text/javascript")
    script(src="/static/scripts/jquery-1.5.min.js", type="text/javascript")
    script(src="/static/scripts/isotope.js", type="text/javascript")
    script(src="/static/scripts/master.js", type="text/javascript")
  body
    #wrap
      div.corner-stamp
      div#wrapper
        each image,i in images
          .element(data-index="#{i}")
            h3.user #{image.user.username}
            img(src=image.images.low_resolution.url)
            .info
              .cols
