/* @override http://localhost:3000/static/styles/master.css */

body {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 100%;
	background-color: #222;
}

#wrap {
	margin: 0 auto;
}

/* 5 columns by default */
.grid-sizer { width: 20%; }

@media screen and (min-width: 720px) {
  /* 10 columns for larger screens */
  .grid-sizer { width: 10%; }
}


#wrap figure {
    margin: 0;
    position: relative;
}
/*
The image will have a maximum width of 100% which will come in handy when we define a media query to resize the list items:
*/
#wrap figure img {
    max-width: 100%;
    display: block;
    position: relative;
}
/*
The figcaption will be positioned absolutely. By default it will be positioned in the top left corner. We won’t define any width or height here as we will do so in all the individual styles:
*/
#wrap figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
}
#wrap figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
}
 
#wrap figcaption span:before {
    content: 'by ';
}
 
#wrap figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
}

#wrap .element{
    -webkit-perspective: 1700px;
    -webkit-perspective-origin: 0 50%;
}

#wrap figure {
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}


#wrap figure > div {
    overflow: hidden;
}
/*
Let’s move the image on hover:
*/
#wrap figure img{
    -webkit-transition: -webkit-transform 0.4s;
}
 
#wrap figure:hover img,
#wrap figure.cs-hover img {
    -webkit-transform: translateX(25%);
}
/*
The figcaption will have half of the width of the figure and we’ll set its initial opacity to 0. Now, let’s rotate it 90 degrees on the Y-axis which will make it be flipped towards us with the origin on its left side. We would basically not see it like that. Let’s set a transition for the “hover out” which will work in the same principle like described in the previous example:
*/
#wrap figcaption {
    height: 100%;
    width: 50%;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotateY(-90deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
}
/*
On hover we will fade it in and rotate it to 0 degrees, making it flip like a page of a book from the left side:
*/
#wrap figure:hover figcaption,
#wrap figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
}
/*
Last, but not least, our little link button:
*/
.cs-style-4 figcaption a {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.stamp{
	height: 300px;
	overflow: hidden;
	color: #333;
}

.stamp {
width: 306px;
height: 296px;
padding: 10px;
position: absolute;
top: 0px;
right: 114px;
background: #222;
color: white;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
}

.loading{
  height: 150px;
  background-color: #0fb;
}

.loading .tag{
	color: #000;
	text-align: center;
	line-height: 29px;
	margin-bottom: 0px;
}

.icon-loading {
  width: 8rem;
  height: 8rem;
}

.min-h100 { min-height: 100%; }
.center { text-align: center; }
.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}


h3 small{
	font-size: .9em;
	line-height: 18px;
	margin-bottom: 1px;
	
}
.small{
	font-size: .6em;
	line-height: 18px;
	margin-bottom: 1px;
}

p {
	font-size: .8125em;
	line-height: 18px;
	color:  #aaa;
	font-weight: lighter;
	margin-bottom: 18px;
}

h1 {
	text-align: center;
}
h1 img {
	margin-top: 18px;
	margin-bottom: 15px;
}

h2 {
	color: #eee;
	font-size: 1.25em;
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 27px;
	margin-bottom: 9px;
}
a {
	color:  #eee;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.cols {
	padding: 20px 10px;
}
.col-1, .col-2 {
	float: left;
	margin-right: 20px;
}
.col-1 {
	width: 326px;
}
.col-2 {
	width: 652px;
}

/* @group Cubes */

#wrapper {
	/*
	height: 600px;
	width: 1000px;
	-webkit-perspective: 800;
	background: #000;
	padding: 10px;
	-webkit-border-radius: 10px;
	border-bottom: 1px solid #333;
	position: relative;
	*/
}

.cube {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.cube span {
  background: #000;
  padding: 0 .33em;
  position:absolute;
  font-size: .9em; /* 13/10 */
  line-height: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.cube .location {
  right: 0;
  bottom: 3px;
}
.cube .channel {
  right: 0;
  bottom: 17px;
  font-weight:bold;
}
.container {
	position: absolute;
	height: 200px;
	width: 200px;
	z-index: 100;
	font-size: .625em; /* 10/16 */
}

.container.animating {
	-webkit-transform: translateZ(-10em);
	-webkit-transform-style: preserve-3d;
	z-index: -100;
}

.in, .out {
	-webkit-animation-duration: .75s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-transform-origin: 50% 50% -10em;
	-webkit-backface-visibility: hidden;
}
.cube img {
	height: 100%;
	width: 100%;
}
.cube.in {
	-webkit-animation-name: cubeInFromRight;
}

.cube.out {
	-webkit-animation-name: cubeOutToLeft;
}

@-webkit-keyframes cubeInFromRight {
	from { -webkit-transform: rotateX(90deg);
	}
	
	to {
		-webkit-transform: rotateX(0deg);
	}
}
@-webkit-keyframes cubeOutToLeft {
	from { -webkit-transform: rotateX(0deg);
	}

	to {
		-webkit-transform: rotateX(-90deg);
	}
}

/* @end */

/* IE PNG */
img {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(...);
}